<div class="d-grid gap-2 p-3">
    {% for item in cabinet_menu %}
    <a href="{{ item.url }}" class="btn {% if item.active %}btn-dark{% else %}btn-secondary{% endif %} d-flex align-items-center">
        <i class="bi {{ item.icon }} me-2"></i>
        {{ item.title }}
    </a>
    {% endfor %}

    <form method="post" action="{% url 'cabinet:logout' %}">
        {% csrf_token %}
        <button class="btn btn-danger d-flex align-items-center" type="submit">
            <i class="bi bi-box-arrow-right me-2"></i> Выйти
        </button>
    </form>
</div>